* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d8e5f1;
}

.header {
    background-color: #337ab7;
    height: 3em;
}

.logo {
    width: 35px;
}

.toolbarIcon {
	width: 27px;
}

.userProfileIcon {
	width: 100px;
}

.contactImage {
	width: 65px;
}

.actionBtn {
	font-size: 13px;
}

.contactModalHeader {
    background-color: #d9edf7;
}

.contactImageEnlarged {
    background-color: #daeef7;
}

.contactImageEnlarged > img {
    width: 100px;
}

.customDarkBlue {
    color: #225b8d;
}

.bg-customDarkBlue {
    background-color: #225b8d;
}

.bg-customDarkBlue:hover {
    background-color: #153857;
}

.contactManagementLabel {
    font-size: 12px;
    color: #0d71c1;
    font-weight: 500;
}

.contactManagementInput {
    text-decoration: none;
    border: none;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #776363;
    outline: none;
    font-size: 13px;
}